<!DOCTYPE html>
<html>
<head>
    <title>Substitute Assignment Revoked</title>
</head>
<body>
    <p>Hello {{ substitute_user_name }},</p>
    <p>Your assignment as a substitute for {{ original_user_name }} on the Defect Tracker application has been revoked by them.</p>
    <p>You will no longer be able to act on their behalf. If you were currently in a substitute session for them, it may have ended or will end shortly.</p>
    <p>If you believe this was in error or have any questions, please contact {{ original_user_name }} or the system administrator.</p>
    <p>Thanks,</p>
    <p>The Defect Tracker Team</p>
    <hr>
    <p><small>&copy; {{ current_year }} Defect Tracker. All rights reserved.</small></p>
</body>
</html>
